/* Scrollbar customizada - Barra amarela de 5px */

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6a220;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFC700;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #d6a220 transparent;
}

/* Tabelas responsivas */
.jsgrid-grid-body::-webkit-scrollbar,
.dataTables_scrollBody::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

.jsgrid-grid-body::-webkit-scrollbar-track,
.dataTables_scrollBody::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track {
    background-color: transparent;
}

.jsgrid-grid-body::-webkit-scrollbar-thumb,
.dataTables_scrollBody::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #d6a220;
    border-radius: 10px;
}

.jsgrid-grid-body::-webkit-scrollbar-thumb:hover,
.dataTables_scrollBody::-webkit-scrollbar-thumb:hover,
.table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: #FFC700;
}

/* Perfect Scrollbar */
.ps__thumb-y {
    background-color: #d6a220 !important;
    width: 5px !important;
}

.ps__thumb-x {
    background-color: #d6a220 !important;
    height: 5px !important;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #d6a220 !important;
    width: 5px !important;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: #d6a220 !important;
    height: 5px !important;
}
