<div class="footer">
    <div class="copyright">
        <p>Copyright © {{ NAME }} - Todos os direitos reservados.
</div>

<div class="modal fade" id="notificacao" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-0"></div>
        </div>
    </div>
</div>